<div class="container">
  <p>
    <a href="/datos_administrador">Grupo2</a> &copy; 2024.
    <span class="separator">|</span>
    <a href="aviso_legal">Aviso Legal</a>
    <span class="separator">|</span>
    <a href="politica_accesibilidad">Política de Accesibilidad</a>
    <span class="separator">|</span>
    <a href="contacto">Contacto</a>
    <span class="separator">|</span>
    Fecha y hora actuales: <span id="currentDateTime"></span>
  </p>
</div>