<nav id="menu" class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand"><b>UCI. Secci칩n Ciclocr칩s</b></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavDropdown"
      aria-controls="navbarNavDropdown"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/competiciones">Competiciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/ciclistas">Listado de ciclistas</a>
        </li>
        <li class="nav-item dropdown">
          <a
            class="nav-link dropdown-toggle"
            href="#"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            Ciclistas
          </a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" href="/ciclista?idciclista=1">Annemarie Worst</a>
            </li>
            <li>
              <a class="dropdown-item" href="/ciclista?idciclista=2">Ceylin del Carmen Alvarado</a>
            </li>
            <li>
              <a class="dropdown-item" href="/ciclista?idciclista=3">Eli Iserbyt</a>
            </li>
            <li>
              <a class="dropdown-item" href="/ciclista?idciclista=4">Fem Van Empel</a>
            </li>
            <li>
              <a class="dropdown-item" href="/ciclista?idciclista=5">Inge Van der Heijden</a>
            </li>
            <li>
              <a class="dropdown-item" href="/ciclista?idciclista=6">Joris Nieuwenhuis</a>
            </li>
            <li>
              <a class="dropdown-item" href="/ciclista?idciclista=7">Kevin Kuhn</a>
            </li>
            <li>
              <a class="dropdown-item" href="/ciclista?idciclista=8">Lars Van Der Haar</a>
            </li>
            <li>
              <a class="dropdown-item" href="/ciclista?idciclista=9">Laura Verdonschot</a>
            </li>
            <li>
              <a class="dropdown-item" href="/ciclista?idciclista=10">Laurens Sweeck</a>
            </li>
            <li>
              <a class="dropdown-item" href="/ciclista?idciclista=11">Lucinda Brand</a>
            </li>
            <li>
              <a class="dropdown-item" href="/ciclista?idciclista=12">Manon Bakker</a>
            </li>
            <li>
              <a class="dropdown-item" href="/ciclista?idciclista=13">Marie Schreiber</a>
            </li>
            <li>
              <a class="dropdown-item" href="/ciclista?idciclista=14">Mathieu Van Der Poel</a>
            </li>
            <li>
              <a class="dropdown-item" href="/ciclista?idciclista=15">Michael Vanthourenhout</a>
            </li>
            <li>
              <a class="dropdown-item" href="/ciclista?idciclista=16">Niels Vandeputte</a>
            </li>
            <li>
              <a class="dropdown-item" href="/ciclista?idciclista=17">Pim Ronhaar</a>
            </li>
            <li>
              <a class="dropdown-item" href="/ciclista?idciclista=18">Puck Pieterse</a>
            </li>
            <li>
              <a class="dropdown-item" href="/ciclista?idciclista=19">Wout Van Aert</a>
            </li>
            <li>
              <a class="dropdown-item" href="/ciclista?idciclista=20">Zoe Backstedt</a>
            </li>
          </ul>
        </li>
        <!-- Botones de aumento y disminuci칩n del tama침o de fuente -->
        <li class="nav-item">
          <a class="btn btn-link nav-link" onclick="increaseFontSize()">A+</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-link nav-link" onclick="decreaseFontSize()">A-</a>
        </li>
      </ul>
    </div>
  </div>
</nav>