<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="keywords" content="ciclocrós, ciclocross, ciclistas, competiciones, UCI, deporte">
    <meta name="description" content="Este sitio Web de la UCI se centra en la especialidad de ciclocrós. Muestra información de los ciclistas, su palmarés, las competiciones y sus resultados.">
    <meta name="author" content="Grupo2">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Ciclocrós UCI accesibilidad</title>
    <link rel="stylesheet" href="styles/estilos.css">
  </head>

  <body>

    <header class="fixed-top"><%- include('navbar') %></header>

    <div class="content" style="margin-top: 80px;"> 
  
    <main>


      <section class="politicas">
        <div class="privacidad">
          
          <h2 class="noticias">Política de Accesibilidad</h2>
          
          <p>En PAFERMA2 nos comprometemos a garantizar la accesibilidad de nuestro sitio web para todas las personas, independientemente de sus capacidades físicas o tecnológicas. Creemos en la importancia de ofrecer una experiencia digital inclusiva y accesible para todos nuestros usuarios.</p>

          <h4>Cumplimiento de estándares</h4>
          <p>Nuestro equipo se esfuerza por cumplir con las pautas de accesibilidad web establecidas en las WCAG (Web Content Accessibility Guidelines) 2.1 nivel AA. Estas pautas son reconocidas a nivel internacional y ofrecen directrices para hacer que el contenido web sea más accesible para personas con discapacidades.</p>

          <h4>Medidas de accesibilidad implementadas</h4>
          <p>Para cumplir con nuestros objetivos de accesibilidad, hemos implementado las siguientes medidas en nuestro sitio web:</p>
          <ul>
            <li>Compatibilidad con tecnologías de asistencia: Hemos diseñado nuestro sitio web para que sea compatible con tecnologías de asistencia, como lectores de pantalla y teclados alternativos.</li>
            <li>Contraste de color: Hemos seleccionado combinaciones de colores que cumplen con los estándares de contraste para garantizar que el contenido sea legible para todos los usuarios.</li>
            <li>Navegación simplificada: Hemos estructurado nuestro sitio web de manera clara y coherente para facilitar la navegación y la comprensión del contenido.</li>
            <li>Alternativas textuales: Proporcionamos descripciones alternativas para imágenes y otros elementos multimedia para que los usuarios con discapacidades visuales puedan acceder a la información de manera efectiva.</li>
            <li>Compatibilidad con dispositivos: Nuestro sitio web es compatible con una amplia variedad de dispositivos y tamaños de pantalla para garantizar que todos los usuarios puedan acceder al contenido de manera óptima.</li>
          </ul>
          <h4>Comentarios y sugerencias</h4>
          <p>Valoramos los comentarios y sugerencias de nuestros usuarios sobre la accesibilidad de nuestro sitio web. Si encuentras algún problema de accesibilidad o tienes alguna sugerencia para mejorarla, no dudes en ponerte en contacto con nosotros a través de nuestro formulario de contacto.</p>

          <h4>Actualizaciones de la política de accesibilidad</h4>
          <p>Nos comprometemos a revisar y actualizar nuestra política de accesibilidad de forma regular para garantizar que siga siendo efectiva y cumpla con los estándares más recientes.</p>

          <p>Fecha de última actualización: 4/04/2024</p>

          <p>En PAFERMA2, estamos comprometidos a proporcionar un entorno digital accesible y amigable para todos nuestros usuarios. Agradecemos tu colaboración y apoyo en nuestro objetivo de mejorar continuamente la accesibilidad de nuestro sitio web.</p>

        </div>  
      </section>
    </main>

    </div>
    
    <footer> <%- include('footer') %> </footer>
    
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
    <script src="scripts/script.js"></script>

  </body>

</html>