body {
  margin: 0;
  font-family: 'Arial', sans-serif;
  background-color: papayawhip;
}

header {
  background-color: #999999;
  padding: 5px;
  color: white;
  text-align: center;
}

#menu{
  background-color: LightSalmon !important;
}

nav a {
  display: block;
  color: black;
  text-align: center;
  padding: 12px 16px;
  text-decoration: none;
}

nav a:hover {
  background-color: #ebbb38;
  color: blue;
}

.dropdown-menu.show li:nth-child(even){
  background-color: #ccaaff;
}

.dropdown-menu.show li:nth-child(odd){
  background-color: #ddffcc;
}

.dropdown-menu.show{
    overflow: scroll;
    height: 80vh;
    width: 22vw;
}

main {
  padding: 40px;
}

section.patrocinadores { 
  text-align: center;
}

table.centrado {
  margin: 0 auto;
  border-collapse: collapse;
}

table.centrado td {
  padding: 20px;
}

section.noticias {
  text-align: center;
}

h2.noticias {
  background-color: #555555;
  color: white;
  text-align: right;
  padding: 20px;
}

p.fecha {
  display: inline-block;
  background-color: #aaaaaa;
  color: white;
  font-size: 28px;
  padding: 5px;
}

p.titulo {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
  font-size: 18px;
  padding: 5px; 
  border-bottom: 5px  solid MediumSpringGreen;  
}

p.texto {
  width: 80%;
  margin: 0 auto;
  text-align: justify;
  font-size: 14px;
}

.destacado {
  color: blue; 
  background-color: Aquamarine; 
}

.subrayado {
  display: inline;
  padding: 1px; 
  border-bottom: 2px dotted #ff0000;  
}

.lineanegra {
  width: 80%;
  margin: 0 auto;
  height: 2px;
  background-color: #000000;
  margin-top: 5px;
}

footer {
  background-color: #070707;
  color: rgb(238, 238, 246);
  text-align: center;
  padding: 12px;
}

.separator {
  margin: 0 10px;
}
